body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dff1f1;
}

#phrase-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

#phrase-input-container:focus-within {
    outline: 2px solid black;
}

#phrase-input {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #FFFFFF;
    text-align: center;
    width: 270px;
}

#phrase-input:focus {
    outline: none;
}

#merge-button {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 70px;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#delete-list-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #FF5722;
    color: white;
    border: none;
    cursor: pointer;
    height: 70px;

}

#phrase-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#phrase-list li {
    margin-bottom: 5px;
    padding-left: 3px;
}

#merged-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 270px;
    height: 100px;
}

.phrases-container {
    background-color: white;
    width: 270px;
    height: 400px;
    border-radius: 10px;
    overflow: auto;
}

h3 {
    text-align: center;
}

.phrases-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.phrases-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.phrases-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.phrases-container::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
}

#phrase-list li:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(206, 206, 206, 0.686)
}

#divContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 9999;
    background-color: #dff1f1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    border-radius: 15px;
    padding: 10px;
}

.coloredDiv {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

div p {
    margin: 0;
}

#showDivsButton {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 70px;
    font-size: 15px;
    background-color: rgb(255, 0, 191);
    color: white;
    border: none;
    cursor: pointer;

}

#closeButton {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 70px;
    font-size: 15px;
    background-color: #da4c21;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
}

button:hover {
    opacity: 90%;
}

